main {
    background-color: var(--color-semi-trans);
}

#result-count {
    text-align: center;
    font-style:italic;
    font-weight: bold;
}

/* ============= SEARCH BOX ============= */

#search-form {
    background-image: url("../images/icons/lens.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom 0.5em right 0.5em;
    background-size:5%;
    border: 0.1em solid var(--color2);
    border-radius: var(--image-radius-corner);
    color: var(--color2);
    margin: auto;
    padding: 1em;
    width: 75%;

    display:grid;
    grid-template-areas: 
    "ct ct ct . cc"
    "it it it . ic"
    ". . bt . .";
    grid-auto-columns: 1fr;
    
    row-gap: 1.5em;

    position: relative;
}

#fieldset-warning {
    color: var(--color2);
    font-style: italic;
    text-align: center;
}

#submit-button {
    border-style: outset;
    border-radius: 1em;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: bold;
    grid-area: bt;
}

#caption-by-title {
    grid-area: ct;
}

#caption-by-cat {
    grid-area: cc;
}

#input-by-title {
    grid-area: it;
    box-sizing: border-box;
    border-style: inset;
    border-radius: 1em;
    padding-left: 1em;
}

#input-by-cat {
    grid-area: ic;
    border: none;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;
}

.larger {
    font-size: 1.2em;
}

/* ============= ARTICLE TABLE ============= */

.article-table{
    width: 90%;
    background-color: white;
    border-collapse: separate;
    border-radius: 2.5em 0 2.5em 0;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;
}

.article-table tbody tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 2.5em;
}

.article-table th:first-child{
    width: 30%;
    word-break: break-all;
    padding: 1%;
}

.article-table th:last-child{
    width: 25%;
}

.article-table thead th{
    color: var(--color3);
    background-color: var(--color1);
}

.article-table thead th:first-of-type{
    border-top-left-radius: 2.5em;
}

.article-table tr:nth-child(even) *{
    background-color: #c2c2c2;
}

.article-table td:first-child, .animal-table th:first-child {
    border-left: none;
}

.article-table td:last-child, .animal-table th:last-child {
    text-align: center;
}
