*{
    margin: 0em;
}

/** MAIN **/
main {
    padding: var(--margin-default);
    background-color: var(--color3);
}

h2 {
    text-align: center;
    text-shadow: 1px 0px 5px white, -1px 0 5px white, 0px 1px 5px white, 0px -1px 5px white;
}

/** TESTO NASCOSTO **/
.speech-help{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
/*
dl.coloredlist{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
*/
/** DESCRIZIONE ANIMALE **/

.inlinelist > li{
    display: inline;
    margin: 0em 0.2em;
}

.content{
    border: 1px solid #a2a9b1;
    border-radius: 20px 0px 20px 0px;
    background-color: #86e2a5;
    padding: 1em;
    margin: 2em;
    font-size: 95%;
}

.section-title, .main-title{
    margin: 1em;
    padding: 0.5em;
}

.section-title{
    border-bottom: 1px solid #111;
    font-style: italic;
}


.animal-table{
    width: 95%;
    background: #f9f9f9;
    border: 1px #aaaaaa solid;
    border-collapse: separate;
    border-radius: 40px 0px 40px 0px;
    margin: 0 auto;
}

.animal-table tbody tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 40px;
}

.animal-table th:first-child{
    width: 30%;
    word-break: break-all;
    padding: 1%;
}

.animal-table th:last-child{
    width: 25%;
}

.animal-table thead th{
    color: var(--color3);
    background-color: var(--color1);
}

.animal-table thead th:first-of-type{
    border-top-left-radius: 40px;
}

.animal-table tr:nth-child(even) *{
    background-color: #c2c2c2;
}
/*
.animalTable tr:nth-child(odd) *{
    background-color: var(--color1);
}
*/

.animal-table td:first-child, .animal-table th:first-child {
    border-left: none;
}

.animal-table td:last-child, .animal-table th:last-child {
    text-align: center;
}

.tab-container{
    overflow-x:auto;
}

/** FOOTER **/
footer{
    padding: 1%;
}

