main {
    background-color: var(--color-semi-trans);
}



#container-options {
    margin: auto;
    width: 70%;
}

#container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.1em;
    margin-bottom: 1em;
}

#container-buttons a {
    border-style:outset;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 0.2em;
    padding: auto;
    text-align: center;
    color: black;
    background-color: #e9e9ed;
    text-decoration:none;
}

#div-with-checkbox {
    margin: auto;
    width: fit-content;
}

#btn1 {
    border-radius: 1.2em 0 0 1.2em;
}

#btn4 {
    border-radius: 0 1.2em 1.2em 0;
}

