main{
    background-color: #fff;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr 0.55fr;
    grid-gap: 2em;
    grid-template-areas: "a a"
                         "b b"
                         "c d" 
                         "c e"
                         "f f";
}

#animal-voting{
    grid-row: 1;
    grid-area: a;
    display: flex;
    height: 150%;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;

}

#animal-voting #green-space{
    width: 50%;
    background-color: green;
}

#animal-voting #red-space{
    background-color: red;
    width: 50%;
    text-align: end;
}

#animal-voting button{
    width: 5%;
}
.animalstats img{
    grid-area: d;
    width: 65%;
    margin: 1%;
    align-self: center;
    border: #000 2px solid;
}
#animal-description{
    grid-area: b;
}

#main-article-section{
    grid-area: c;
}
#main-article-div {
    color:white;
    height: 25em;
    position: relative;
}

#main-article-div img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border: #000 solid 2px;
}

#main-article-text {
    position: absolute;
    bottom:0%;
    text-shadow: 2px 2px 2px black;
    margin: 10px;
}

#main-article-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#main-article-subtitle {
    font-size: 1em;
}


.animalstats{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    grid-area: e;
}
ul.coloredlist{
    list-style: none outside;
}
.coloredlist li{
    color: #fff;
    padding: 0.74em 0.1em;
    border: #000 solid 2px;
}

.coloredlist li:nth-child(even) {
    background-color: var(--color2);
}

.coloredlist li:nth-child(odd) {
    background-color: var(--color1);
}


.animalstats li:last-child{
    border-bottom: #000 solid 2px;
}

.animalstats li:nth-child(n) {
    border-bottom: none;
}


nav h2,nav .article{
    text-align: center;
}
#related-articles{
    grid-area: f;
}
#related-articles-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

ul .article{
    padding: 2.5em;
    height: 20%;
    flex: 1 1 100px;
}
