main{
    background-color: var(--color1);
    padding: var(--margin-default);
}

h2 {
    font-size: 2em;
    text-shadow: 1px 0px 5px white, -1px 0 5px white, 0px 1px 5px white, 0px -1px 5px white;
}

.centered{
    text-align: center;
}

section {
    margin-bottom: var(--margin-default);
}
/** TESTO NASCOSTO **/
.speech-help{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/** SEZIONE INIZIALE **/

#animal-info{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#animal-stats{
    border: none;
    border-collapse: collapse;
    box-shadow: var(--box-shadow-light);
}

#animal-stats td, #animal-stats th{
    padding: 1em;
}

#animal-stats img {
    width: 25vw;
}

#description {
    font-size: 1.2em;
    color: white;
    font-style: italic;
    margin-left: var(--margin-default);
    text-shadow: 1px 1px 10px darkgoldenrod;
}

/** VOTAZIONI **/
.vertical-flex{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.horizontal-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#exist-votes, #non-exist-votes{
    display: block;
}

.btn-vote {
    height: 15vw;
    width: 15vw;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
    text-indent: -999em;
    text-decoration: none;
    display: inline;
}

#buttons {
    width: fit-content;
    margin: auto;
    white-space: nowrap;
}
#btn-exist{
    background-color: green;
    background-image: url("../images/icons/thumb-up.png");
    border: darkgreen 10px solid;
    border-radius: 50% 0% 0% 50%;
    border-right: none;
}

#btn-exist:hover{
    background-color: rgb(1, 177, 1);
    border-color: rgb(0, 143, 0);
    background-position: right center;
}

#btn-non-exist{
    background-color: red;
    background-image: url("../images/icons/thumb-down.png");
    border: darkred 10px solid;
    border-radius: 0% 50% 50% 0%;
    border-left: none;
}

#btn-non-exist:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(187, 0, 0);
    background-position: right center;
}

.votes-box {
    background: var(--color2);
    color: white;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
  }

.votes-span {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 0px 5px black, -1px 0 5px black, 0px 1px 5px black, 0px -1px 5px black;
}
#colored-vote-area {
    background: linear-gradient(to right, #00FF00 50%, #FF0000 );
    width: 80%;
    height: 2em;
    border-style: inset;
    border-radius: var(--image-radius-corner);
}


.colored-list > li, #animal-stats tr, #animal-stats, .coloredlist .animal-entry{
    color: #fff;
    padding: 0.74em 0.1em;
}


/** DESCRIZIONE ANIMALE **/



/*
#main-article-div {
    color:white;
    height: 25em;
    margin: 1.7em 1em 0em 0em;
    position: relative;
}

#main-article-div img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border: #000 solid 2px;
}

#main-article-text {
    position: absolute;
    bottom:0%;
    text-shadow: 2px 2px 2px black;
    margin: 10px;
}

#main-article-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#main-article-subtitle {
    font-size: 1em;
}
*/

/** LISTA COLORATA **/
.coloredlist, .coloredlist ul{
    list-style: none outside;
}

.coloredlist > li:nth-child(even), #animal-stats tr:nth-child(even), .coloredlist .animal-entry:nth-child(even) {
    background-color: var(--color2);
}

.coloredlist > li:nth-child(odd) , #animal-stats tr:nth-child(odd), .coloredlist .animal-entry:nth-child(odd){
    background-color: var(--color1);
}

.coloredlist div dd{
    display: flex;
    flex-direction: row;
}

nav h2,nav .article{
    text-align: center;
}

/** ARTICOLI CORRELATI **/
#related-articles{
    padding-bottom: 2em;
}
#related-articles h2{
    margin-bottom: 0.9em;
}

#related-articles-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

ul .article{
    padding: 2.5em;
    flex: 1 1 10px;
}

