main{
    background-color: #fff;
    padding: var(--margin-default);
}

h2, h3 {
    text-align: center;
    color: var(--color2);
}

section {
    margin-bottom: 2em;
}
/** TESTO NASCOSTO **/
.speech-help{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


.inlinelist > li{
    display: inline;
    margin: 0em 0.2em;
}

.index{
    background-color: var(--color2);
    padding: 1em;
    margin: 2em;
}


.letter{
    border-bottom: 0.1em solid var(--color4);
    font-style: italic;
}


.animal-table{
    border: 0.1em solid var(--color4);
    border-collapse: separate;
    border-radius: 2.2em 0 2.2em 0;
    margin: 0 auto;
    
    width: 75%;
}

.animal-table td {
    text-align: center;
}

.animal-table th:first-child{
    width: 30%;
    word-break: break-all;
}

.animal-table th:last-child{
    width: 25%;
}

.animal-table thead th{
    color: var(--color3);
    background-color: var(--color1);
}

.animal-table thead th:first-of-type{
    border-top-left-radius: 2.3em;
}

.animal-table tr:nth-child(even) *{
    background-color: var(--color3);
}

.tab-container{
    overflow-x:auto;
}


