main{
    background-color:white;
}

h3 {
    text-align: center;
    color: var(--color2);
}

section {
    margin-bottom: 2em;
}

.inlinelist > li{
    display: inline;
    margin: 0em 0.2em;
}

.index{
    background-color: var(--color2);
    padding: 1em;
    margin: 2em;
}


.letter{
    border-bottom: 0.1em solid var(--color4);
    font-style: italic;
}


.animal-table{
    border-radius: 1.7em 0 1.7em 0;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;
    width: 75%;
}

.animal-table td {
    text-align: center;
}

.animal-table th:first-child{
    width: 30%;
    word-break: break-all;
}

.animal-table th:last-child{
    width: 25%;
}

.animal-table thead th{
    color: white;
    background-color: var(--color1);
}

.animal-table thead th:first-of-type{
    border-top-left-radius: 2em;
}

.animal-table tbody tr:nth-child(odd) *{
    background-color: var(--color3);
}

.animal-table tbody tr:nth-child(even) *{
    background-color: var(--color4);
}

tr:last-of-type td:last-child {
    border-radius: 0 0 2em 0;
}

