main {
    padding: var(--margin-default);
    background-color: var(--color3);
    color: black;
}

h2 {
    text-align: center;
}

#result-count {
    text-align: center;
    font-style:italic;
    font-weight: bold;
}
/* ========================= ARTICLE GRID ========================= */

#article-grid-div {
    display: grid;
    margin: var(--margin-default);
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--margin-default);;
    column-gap: var(--margin-default);;
}

#article-grid-section > a {
    margin-left :var(--margin-default)
}

.article{
    position: relative;
}

.article img{
    width:75%;
}

.article a{
    display:block;
}

.article * {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.article-title {
    font-size: 1.2em;
    font-weight: bold;
}

/* ========== SLIDER ========== */

#page-slider {
    display: block;
    margin: auto;
    width: fit-content;

    border-top: 0.5em dotted var(--color4);
    border-bottom: 0.5em dotted var(--color4);
    padding: 1em;
}

#page-slider > button {
    color:var(--color4);
    border: none;
    background: none;
    font-size: 1.5em;
}

#page-slider #button-current {
    color:var(--color1);
    font-size:2em;
}

/* ============= SEARCH BOX ============= */

/* da togliere width:75% per schermi piccoli */
#search-form {
    background-image: url("../../images/icons/lens.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border: 0.1em solid var(--color2);
    border-radius: var(--image-radius-corner);
    color: var(--color2);
    margin: auto;
    padding: 1em;
    width: 75%;

    display:grid;
    grid-template-areas: 
    "ct ct it it"
    "cc cc ic bt";
    row-gap: 0.5em;

    position: relative;
}

.search-form button {
    border-style: outset;
    border-radius: 0 1em 1em 0;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: bold;
}

.search-form select {
    cursor: pointer;
}

#caption-by-title {
    grid-area: ct;
}

#caption-by-cat {
    grid-area: cc;
}

#input-by-title {
    grid-area: it;
    box-sizing: border-box;
    border-style: inset;
    cursor:text;
    border-radius: 1em 0 0 1em;
    padding-left: 1em;
}

#input-by-cat {
    grid-area: ic;
    border: none;
    text-align: center;
    border-radius: 1em 0 0 1em;
    text-transform: uppercase;
}

#submit-button {
    grid-area: bt;
}

#deco {
    position: absolute;
    left: 0.2em;
    bottom: 0.2em;
    height: 40%;
}

.paired {
    font-size: 1.2em;
}

/* ============= PAGINAZIONE ============= */

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color2);
    border-radius: var(--image-radius-corner);
}
  
.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}
  
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}
  
.pagination-number.active {
    color: #fff;
    background: var(--color1);
}

.article.hidden {
    display: none;
}