main {
    padding: var(--margin-default);
    background-color: white;
    color: black;
}

h2 {
    display: inline-block;
    margin-right: 1em;
}

article{
    margin-bottom: var(--margin-default);
}

#subtitle {
    display: inline-block;
    font-size: 1.1em;
    color: var(--color2);
    font-style: italic;
    border-left: 0.5em dotted var(--color4);
    padding-left: 1em;
}

article img {
    width: 100%;
    object-fit:cover;
    box-shadow: var(--box-shadow-light);
}

#text-div1 {
    margin: 0 var(--margin-default) 0 var(--margin-default); 
}

#text-div2{
    clear: none;
    margin-right: 0;
}

#text {
    text-align: justify;
    text-justify:auto;
    font-size: 1.1em;
    line-height: 1.5em;
}

#location {
    font-weight:bold;
    text-transform: uppercase;
    color: var(--color2);
}

aside {
    padding: 2em;
    margin: var(--margin-default);
    margin-right: 0;
    float: right;
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 2em;
    box-shadow: var(--box-shadow-light);
}

aside * {
    margin-bottom: 0.5em;
}
dt {
    font-weight:bold;
}

#shoutbox {
    position: relative;
    height: 60vh;
    overflow-y:scroll;
}

#shoutbox-section {
    clear :both;
}

.comment-family {
    margin-bottom: var(--margin-default);
}

.comment-details > * {
    display: inline-block;
    vertical-align: middle;
}

.comment-details {
    width: fit-content;
    background-color: var(--color2);
    padding: 0 0.8em 0 0.8em;
    border-radius: 2em 0 0 0;
}

.comment-content {
    border: 0.1em solid var(--color4);
    border-bottom: none;
    border-radius: 0 0.8em 0 0;
    margin-top: 0;
    padding: 1em;
}

.comment-content button {
    display: inline;
}

.comment-text {
    overflow-wrap: break-word;
    margin-top: 0;
}
.author {
    color: var(--color3);
    font-size: 1.1em;
    font-weight: bolder;
}
.timestamp {
    color: var(--color4);
    padding-left: 2em;
}
.arrow-button {
    position: absolute;
    background-color: var(--color1);
    font-size: 2em;
    color: white;
    right: 0.8em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: var(--box-shadow-light);
    border: 0.1em solid white;
}


#go-top {
    top: 0.8em;
}

#go-bottom {
    bottom: 0.8em;
}

ul {
    list-style-type: none;
}

hr {
    border: none;
    border-top: 0.5em dotted var(--color4);
}

.div-reply {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    column-gap: 1em;
}

.btn-reply, .btn-send {
    font-size: 1.1em;
    text-transform: uppercase;
}

textarea {
    resize: none;
    border-style: inset;
    overflow: scroll;
    box-shadow: 1px 1px 50px black;
    flex: 1;
    height: 8em;
}