main {
    background-color: white;
}

#result-count {
    text-align: center;
    font-style:italic;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}



#article-grid-div {
    display: grid;
    margin: var(--margin-default);
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--margin-default);
    column-gap: var(--margin-default);
}

#article-grid-section > a {
    margin-left :var(--margin-default)
}

.article{
    position: relative;
    width: 100%;
}

.article img{
    width:inherit;
    height: 20em;
    object-fit: cover;
}

.article a{
    display:block;
}

.article * {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.article-title {
    font-size: 1.2em;
    font-weight: bold;
}




#search-form {
    background-image: url("../images/icons/lens.png");
    background-repeat: no-repeat;
    background-position: bottom 0.5em right 0.5em;
    background-size:5%;
    border: 0.1em solid var(--color2);
    border-radius: var(--image-radius-corner);
    color: var(--color2);
    margin: auto;
    padding: 1em;
    width: 75%;

    display:grid;
    grid-template-areas: 
    "ct ct ct . cc"
    "it it it . ic"
    ". . bt . .";
    grid-auto-columns: 1fr;
    
    row-gap: 1.5em;

    position: relative;
}

#fieldset-warning {
    color: var(--color2);
    font-style: italic;
    text-align: center;
}

#submit-button {
    border-style: outset;
    border-radius: 1em;
    background-color: var(--color1);
    color: var(--color3);
    font-weight: bold;
    grid-area: bt;
}

#caption-by-title {
    grid-area: ct;
}

#caption-by-cat {
    grid-area: cc;
}

#input-by-title {
    grid-area: it;
    box-sizing: border-box;
    border-style: inset;
    border-radius: 1em;
    padding-left: 1em;
}

#input-by-cat {
    grid-area: ic;
    border: none;
    text-align: center;
    border-radius: 1em;
    text-transform: uppercase;
}

.larger {
    font-size: 1.2em;
}

.article.hidden {
    display: none;
}