main{
    background-color: var(--color-semi-trans);
}


.form-container{
    padding: 0.5em;
    border-radius: 0.8em;
    background-color:  rgba(0, 85, 50, 0.8);
    box-shadow: var(--box-shadow-light);
}

#form-fields{
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas: 'titolo testo'
                         'sottotitolo testo'
                         'creatura testo'
                         'tag testo'
                         'luogo testo'
                         'data testo'
                         'path testo'
                         'submit submit';
    border: 0;
    justify-content: center;
}

#div-titolo{ 
    grid-area: titolo; 
}
#div-tag{ 
    grid-area: tag; 
}
#div-sottotitolo{ 
    grid-area: sottotitolo; 
}
#div-creatura{ 
    grid-area: creatura; 
}
#div-luogo{ 
    grid-area: luogo; 
}
#div-testo{ 
    grid-area: testo;
    display: flex;
    flex-direction: column;
}
#div-data{ 
    grid-area: data; 
}
#div-path{ 
    grid-area: path; 
}

.form-input-wrapper{
    background-color: var(--color1);
    color: white;
    border-radius: 0.8em;
    padding: 1em;
    box-shadow: var(--box-shadow-light);
}

.form-input-wrapper > :not(p):not(textarea){ 
    display: block;
    margin: auto;
}

.field-name, #input-image{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}

input, select{
    font-size: 1.2em;
    border-radius: 0.5em;
    overflow-y: scroll;
}

textarea{
    font-size: 1.2em;
    margin:0;
    border-radius: 0.5em;
    resize:none;
    height: 50em;
    flex-grow: 1;
    justify-self: stretch;
}

#btn-load{
    width: 8em;
    height: 4em;
    border-radius: 0.8em;
    background-color:white;
    background-image: url('../images/icons/upload.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
}

#btn-load:hover{
    background-color: rgb(180, 180, 180);
}

#btn-submit{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-image: url('../images/icons/add.png');
    background-size: contain;
    grid-area: submit;
    justify-self: center;
    overflow: hidden;

}

#div-featured > * {
    display: inline;
    overflow: hidden;
}


#btn-submit:hover{
    background-color: rgb(180, 180, 180);
}

.error{
    color: red;
    text-align: center;
}

.success{
    color:green;
    text-align: center;
}

.error, .success{
    margin-bottom: 0;
}

#titolo, #sottotitolo {
    width: 100%;
}
