/** MAIN **/
main{
    background-color: rgba(255, 255,255, 0.8);
    padding: 1em 20%;
}

h2{
    text-align: center;
    color: black;
    font-weight: bold;

}

#form-container{
    padding: 10px 10px;
    border-radius: 10px;
    background-color:  rgba(0, 85, 50, 0.8);
    box-shadow: var(--box-shadow-light);
}

#form-info{
    display: grid;
    grid-template-areas:
    "div-name div-desc div-desc"
    "div-status div-desc div-desc"
    "div-date div-desc div-desc"
    "div-pic div-pic div-pic"
    ". submit .";
    grid-auto-columns: 1fr;
    gap: 1em;
    justify-content: center;
}

#div-name {
    grid-area: div-name;
}

#div-status {
    grid-area: div-status;
}

#div-desc {
    grid-area: div-desc;
    display: flex;
    flex-direction: column;
}

#div-date {
    grid-area: div-date;
}

#div-pic {
    grid-area: div-pic;
}

input {
    text-align: center;
}

.form-input-wrapper{ 
    background-color: var(--color1);
    color: white;
    border-radius: 10px;
    padding: 1em;
}

.form-input-wrapper > :not(span){ 
    display: block;
    margin: auto;
}

.info{
    margin-bottom: 5px;
    font-size: large;
    color: white;   
}

input{
    width: 90%;
    font-size: 1.2em;
    border-radius: 8px;
}

select{
    width: 90%;
    font-size: 1.2em;
    border-radius: 8px;
    overflow-y: scroll;
}

textarea{
    width: 90%;
    border-radius: 8px;
    resize:none;
    flex-grow: 1;
}

#btn-load{
    width: 77px;
    height: 50px;
    border-radius: 10px;
    background-color:white;
    background-image: url('../images/icons/upload.png');
    background-size: 75px;
}

#btn-load:hover{
    background-color: rgb(176, 176, 182);
}

#btn-submit{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-image: url('../images/icons/add.png');
    background-size: contain;
    grid-area: submit;
    justify-self: center;

}

#btn-submit:hover{
    background-color: rgb(176, 176, 182);
}

#invalid-animal-name{
    background-size: contain;

}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}

.success{
    color: green;
    font-weight: bold;
    text-align: center;
}