html {
    background-image: url(../images/bg4.jpeg) !important;
}

header {
    margin:0;
    border: 0;
    border-radius: 0;
}

#header-deco {
    border-radius: 0;
}
/** MAIN **/
main{
    background-color: var(--color-semi-trans);
    padding: 1em 12.5%;
}

#form-container{
    padding: 0.5em;
    border-radius: 0.8em;
    background-color:  rgba(0, 85, 50, 0.8);
    box-shadow: var(--box-shadow-light);
    display: grid;
    gap: 1em;
    grid-template-areas:
    'username'
    'password'
    'btn-submit';
}

.form-input-wrapper{
    background: var(--color1);
    color: white;
    border-radius: 0.8em;
    padding: 1em;
    justify-self: center;
    font-size: small;
    box-shadow: var(--box-shadow-light);
}

#username-wrapper {
    grid-area: username;
}

#password-wrapper {
    grid-area: password;
}

input{
    display: block;
    margin: auto;
    width: 90%;
    font-size: 1.2em;
    border-radius: 0.5em;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}
.btn-submit{
    width: fit-content;
    border-radius: 0.8em;
    padding: 0.8em;
    border-style: outset;
    color: white;
    font-size: 1.1em;
    justify-self: center;
    cursor: pointer;
    background-color: rgb(0, 85, 50);
    grid-area: btn-submit;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-light);
}

.btn-submit:hover{
    background-color: rgb(3, 60, 37);
}