*{
    margin: 0em;
}
/** MAIN **/
main{
    background-color: white;
    padding: 20px 20px;
}

h2{
    text-align: center;
    color: white;
    font-weight: bold;
}

.form-container{
    padding: 10px 10px;
    border-radius: 10px;
    background-color:  rgba(0, 85, 50, 0.8);
    box-shadow: var(--box-shadow-light);
}

.form-info{
    margin-top: 1.5em;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    grid-template-areas: 'titolo testo'
                         'sottotitolo testo'
                         'creatura testo'
                         'tag testo'
                         'luogo testo'
                         'data testo'
                         'path testo'
                         'submit submit';
}

#form-box-titolo{ 
    grid-area: titolo; 
}
#form-box-tag{ 
    grid-area: tag; 
}
#form-box-sottotitolo{ 
    grid-area: sottotitolo; 
}
#form-box-creatura{ 
    grid-area: creatura; 
}
#form-box-luogo{ 
    grid-area: luogo; 
}
#form-box-testo{ 
    grid-area: testo; 
}
#form-box-data{ 
    grid-area: data; 
}
#form-box-path{ 
    grid-area: path; 
}

.form-input-wrapper{
    background: var(--color1);
    color: white;
    border-radius: 10px;
    padding: 1em;
}


.info{
    display: block;
    margin-bottom: 5px;
    font-size: large;
    color: white;   
}

input{
    width: 90%;
    font-size: 1.2em;
    border-radius: 8px;
    text-align: center;
}

select{
    width: 90%;
    font-size: 1.2em;
    border-radius: 8px;
    overflow-y: scroll;
}

textarea{
    width: 90%;
    height: 50em;
    border-radius: 8px;
    resize: vertical;
    flex-grow: 1;
}

#btn-load{
    width: 77px;
    height: 50px;
    margin-top: 1em;
    border-radius: 10px;
    background-color:white;
    background-image: url('../images/icons/upload.png');
    background-size: 75px;
}

#btn-load:hover{
    background-color: rgb(176, 176, 182);
}

#btn-submit{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-image: url('../images/icons/add.png');
    background-size: contain;
    grid-area: submit;
    justify-self: center;

}

#btn-submit:hover{
    background-color: rgb(176, 176, 182);
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}

.success{
    color: green;
    font-weight: bold;
    text-align: center;
}