*{
    margin: 0em;
}
/** MAIN **/
main{
    background-color: white;
    padding: 20px 20px;
}

.form-container h2{
    padding: 1em 1em 0em 1em;
    margin-left: 15px;
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 1.75em;
    grid-area: title;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    border-radius: 10px;
    background-color: rgb(3, 60, 37,0.8);
    max-width: 90%;
    height: 100%;
    border-radius: 10px;
    border-width: 1px;
    color: white;
    font-size: 1.75em;
    justify-self: center;
    background-color: rgb(0, 85, 50);
    grid-area: btn-submit;
}

.form-info{
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    color: white;
    gap: 20px;
    max-width: 925px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-container form .form-box{ 
    background: rgb(34, 0, 88, 0.7);
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 10px;
}

.info{
    display: block;
    margin-bottom: 5px;
    font-size: large;
    color: white;   
}

form .form-box input{
    width: 95%;
    height: 20px;
    border-radius: 8px;
}

.form-box select{
    width: 95%;
    height: 20px;
    border-radius: 8px;
    text-align: center;
}

.form-box textarea{
    width: 95%;
    max-width: 95%;
    height: 80px;
    border-radius: 8px;
    resize: vertical;
}

.btn-submit{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border-width: 1px;
    color: white;
    cursor: pointer;
    justify-self: center;
    background-color: white;
    grid-area: btn-submit;
    background-image: url('../images/icons/add.png');
    background-size: 98px;
}

.btn-submit:hover{
    background-color: rgb(176, 176, 182);
}

.btn-load{
    max-width: 200px;
    width: 77px;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:white;
    color: #fff;
    border-width: 1px;
    background-image: url('../images/icons/upload.png');
    background-size: 75px;
}

.btn-load:hover{
    background-color: rgb(176, 176, 182);
}