:root{
    --header-height:10em;
    --color1: rgb(34, 0, 88);
    --color2: rgb(0, 85, 50);
    --color3: rgb(255,255,255);
    --color4: rgb(150,150,150);
    --nonvisited-links: rgb(34, 0, 88);
    --visited-links: rgb(158, 142, 0);
    --width-perc-main: 75%;
    --margin-default: 3em;
    --margin-tag: 0.5em;
    --box-shadow-huge: -1px 0px 100px 5px black, 1px 0px 100px 5px black;
    --box-shadow-light: 0px 1px 1px 1px black;
    --image-radius-corner: 1.5em;
}


html {
    background-image: url("../images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

img.framed {
    border-radius: 0 0 var(--image-radius-corner) 0;
    box-shadow: var(--box-shadow-light);
}


h2 {
    color:var(--color2);
}

a{
    color: var(--nonvisited-links);
}

a:visited{
    color: var(--visited-links);
}


/* BODY */

body {
    max-width: var(--width-perc-main);
    margin: auto;
    box-shadow: var(--box-shadow-huge);
}

main {
    position: relative;
    z-index: 2;
}

/* ID */

#identification {
    border-radius: 0px 0px 1.2em 1.2em;
    border: 0.1em solid white;
    border-top: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--color2);
    color: var(--color3);
    width: fit-content;
    margin: 0 auto;
    box-shadow: var(--box-shadow-light);
}

#username {
    font-weight: bold;
}

#username .profile-pic {
    height: 2em;
}

#logout {
    height: 1.2em;
    border: none;
    background:none;
    vertical-align: middle;
    margin-left: 1em;
}

#logout img {
    height: 1.2em;
    box-shadow: none;
}

/* HEADER */

header {
    background-color: var(--color1);
    border: 0.2em solid white;
    border-radius: 3em 0px 3em 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0px;
    margin: var(--margin-default);
    box-shadow: var(--box-shadow-light);

    position: sticky;
    z-index: 1;
    top: 0px;
}

header div {
    display: inline-block;
}

#header-titling {
    height:var(--header-height);
    grid-column: 1;
    grid-row: 1;
    padding-top: 1em;
    padding-left: 0.8em;
}

#header-titling h1 {
    height:70%;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /*RENDI TESTO NON VISIBILE A SCHERMO*/
    overflow:hidden;
    white-space: nowrap;
    text-indent: 100%;
    margin: 0;
}

#header-titling p {
    color: var(--color4);
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2em;
    margin: 0;
}

#header-deco {
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0), var(--color1)),
    url('../images/header256.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 3em 0;
    grid-column: 2;
    grid-row: 1;
}

/* BREADCRUMB */

#breadcrumb {
    background-color: var(--color2);
    color: var(--color3);

    font-size: 1.2em;
    padding: 0.2em;

    position: sticky;
    z-index: 3;
    top: 0;

    box-shadow: 0px -1px 1px black, 0px 1px 1px black;
}

#breadcrumb p {
    display: inline;
}

#breadcrumb img {
    height: 1.5em;
    vertical-align: middle;
}

#logo {
    float: right;
}
.breadcrumb-list{
    list-style: none outside;
}

.breadcrumb-list li{
    display: inline;
}

/* GOUP */

#go-up-div {
    margin: var(--margin-default);
}

#go-up-div p {
    text-align: center;
}

#go-up {
    display: block;
    margin: auto;
    background-color: var(--color1);
    color: var(--color3);
    font-size: 2.5em;
    height: 1.5em;
    width: 1.5em;
    box-shadow: var(--box-shadow-light);
    border-radius: 0 1.4em 0 1.4em;
    border: 0.1em solid white;
}

/* FOOTER */

footer {
    color: #fff;
    background-color: var(--color2);
    padding: 1em;
}

footer p {
    margin: 0;
    text-align: center;
}


/* HR */

hr {
    border: none;
    border-top: 0.5em dotted var(--color4);
}

/* TAG */

.tag {
    box-shadow: var(--box-shadow-light);
    text-transform: uppercase;
    width: fit-content;
    color: white;
    padding: var(--margin-tag);
    border-radius: 0.75em;
}

.tag.discovery {
    background-color: red;
}
.tag.sighting {
    background-color: darkgoldenrod;
}
.tag.comunication {
    background-color: darkblue;
}
.tag.new-entry {
    background-color: darkgreen;
}

.corner-tag {
    position: absolute;
    top: var(--margin-tag);
    left: var(--margin-tag);
}


/* PROFILE-PIC */

.profile-pic {
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
}

/* INPUT */

button, select, input
{
    cursor: pointer;
}

input[type=text], input[type=password]
{
    cursor: text;
}
