:root{
    --header-height:10em;
    --color1: rgb(3, 0, 34);
    --color2: rgb(0, 85, 50);
    --color3: rgb(255,255,255);
    --color4: rgb(220, 220, 220);
    --color-semi-trans: rgba(255, 255,255, 0.9);
    --nonvisited-links: rgb(10, 0, 26);
    --visited-links: rgb(138,117, 0);
    --color-reserved: rgb(40, 40, 40);
    --color-reserved-2: rgb(180,150,0);
    --width-perc-main: 75%;
    --margin-default: 3em;
    --margin-tag: 0.5em;
    --box-shadow-huge: -1px 0px 100px 5px black, 1px 0px 100px 5px black;
    --box-shadow-light: 0px 1px 1px 1px black;
    --image-radius-corner: 1.5em;
}


html {
    background-image: url("../images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.invisible {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

img.framed {
    border-radius: 0 0 var(--image-radius-corner) 0;
    box-shadow: 0px 1px 5px gray;
}


h2 {
    color:var(--color2);
    text-align: center;
    font-weight: bold;
}

h2.black {
    color: black;
}

h2.outline {
    text-shadow: 1px 0px 10px white, -1px 0 10px white, 0px 1px 10px white, 0px -1px 10px white;
}

a{
    color: var(--nonvisited-links);
}


a.white {
    color: white;
}

a:visited, a.white:visited{
    color: var(--visited-links);
}

.profile-pic {
    height: 2.5em;
}



body {
    max-width: var(--width-perc-main);
    margin: auto;
    box-shadow: var(--box-shadow-huge);
}

main {
    position: relative;
    padding: var(--margin-default);
    z-index: 2;
}



#identification {
    border-radius: 0 0 1em 1em;
    border: 0.1em solid white;
    border-top: none;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--color2);
    color: var(--color3);
    width: fit-content;
    margin: 0 auto;
    box-shadow: var(--box-shadow-light);
}

#identification a {
    color: white;
}
#username {
    font-weight: bold;
}

#username .profile-pic {
    height: 2em;
}

#logout {
    height: 1.2em;
    border: none;
    background:none;
    vertical-align: middle;
    margin-left: 1em;
}

#logout img {
    height: 1.2em;
    box-shadow: none;
}



header {
    background-color: var(--color1);
    border: 0.2em solid white;
    border-radius: 3em 0 3em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0;
    margin: var(--margin-default);
    box-shadow: var(--box-shadow-light);

    position: sticky;
    z-index: 1;
    top: 0;
}

header div {
    display: inline-block;
}

#header-titling {
    height:var(--header-height);
    grid-column: 1;
    grid-row: 1;
    padding-top: 1em;
    padding-left: 0.8em;
}

#header-titling h1 {
    height:70%;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    overflow:hidden;
    white-space: nowrap;
    text-indent: 100%;
    margin: 0;
}

#header-titling p {
    color: var(--color4);
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2em;
    margin: 0;
}

#header-deco {
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0), var(--color1)),
    url('../images/header256.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0 0 3em 0;
    grid-column: 2;
    grid-row: 1;
}



#breadcrumb {
    background-color: var(--color2);
    color: var(--color3);

    font-size: 1.2em;
    padding: 0.2em;

    position: sticky;
    z-index: 3;
    top: 0;

    box-shadow: 0px -1px 1px black, 0px 1px 1px black;
}

#breadcrumb a {
    color: white;
}

#breadcrumb p {
    display: inline;
}

#breadcrumb img {
    height: 1.5em;
    vertical-align: middle;
}

#logo {
    float: right;
}
.breadcrumb-list{
    list-style: none outside;
}

.breadcrumb-list li{
    display: inline;
}



#go-up-div {
    margin-top: var(--margin-default);
}

#go-up-div p, #go-up-div a {
    text-align: center;
}

#go-up {
    display: block;
    margin: auto;
    background-color: var(--color1);
    color: var(--color3);
    font-size: 2.5em;
    height: 1.5em;
    width: 1.5em;
    box-shadow: var(--box-shadow-light);
    border-radius: 0 0.5em 0 0.5em;
    border: 0.1em solid white;
}

#go-up-div a {
    text-decoration: none;
}



footer {
    color: #fff;
    background-color: var(--color2);
    padding: 1em;
}

footer p {
    margin: 0;
    text-align: center;
}




hr {
    border: none;
    border-top: 0.5em dotted var(--color4);
    margin-top: 2em;
    margin-bottom: 2em;
}



.tag {
    box-shadow: var(--box-shadow-light);
    text-transform: uppercase;
    width: fit-content;
    color: white;
    padding: 0.3em;
    border-radius: 0.75em;
}

.corner-tag {
    position: absolute;
    top: var(--margin-tag);
    left: var(--margin-tag);
}

.tag.new-entry{
    background-color:cornflowerblue;
}
.tag.comunicazione{
    background-color: black;
}
.tag.scoperta{
    background-color: red;
}
.tag.avvistamento{
    background-color: darkgoldenrod;
}




.profile-pic {
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
}



button, select, input
{
    cursor: pointer;
}

input[type=text], input[type=password]
{
    cursor: text;
}

input[type=file]
{
    overflow: hidden;
}

* {
    line-height: 1.5em;
    letter-spacing: 0.12em;
    word-spacing: 0.16em;
}