/* ========================= MAIN+CONTAINER ========================= */

#main-aside-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

main {
    background-color: white;
    flex: 8;
    z-index: 1;
    position: relative;
    padding: 0;
}

#last-update {
    font-style: italic;
    text-align: center;
}


/* ========================= MAIN ARTICLE ========================= */

#featured-items-wrapper {
    position: relative;
    margin: var(--margin-default);
}

.carousel {
    position: relative;
    width: 90%;
    height: 30em;
    overflow: hidden;
}

#featured-items-wrapper button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: white;
    border: none;
    text-shadow: 2px 2px 8px black;
    font-size: 3em;
    width: 1em;
    height: 1em;
}

#featured-item {
    color:white;
    height: 30em;
    cursor: pointer;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

#featured-item a{
    height: inherit;
}

#featured-item img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

#featured-item-text {
    position: absolute;
    bottom:0.8em;
    left: 0.8em;
    text-shadow: 2px 2px 2px black;
}

#featured-item-title {
    font-size: 2em;
    margin-bottom: 0.2em;
}
#featured-item-subtitle {
    font-size: 1.2em;
}

#button-prev {
    left: 0.8em;
    background-image: url(../images/icons/button-l.png);
}

#button-next {
    right: 0.8em;
    background-image: url(../images/icons/button-r.png);
}

/* ========================= ARTICLE GRID ========================= */

#article-grid-div {
    display: grid;
    margin: var(--margin-default);
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--margin-default);
    column-gap: var(--margin-default);
}

#article-grid-section > a {
    margin-left :var(--margin-default)
}

.article{
    position: relative;
}

.article img{
    width:100%;
}

.article a{
    display:block;
}

.article * {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.article-title {
    font-size: 1.2em;
    font-weight: bold;
}

/* ========================= ASIDE ========================= */

aside {
    background-color: var(--color1);
    color: var(--color3);
    padding: 1em;
    z-index: 2;
    position: relative;
    box-shadow: -1px 0px 10px black;
    flex: 2;
}

aside a {
    display: block;
    margin-bottom: 1em;
}

aside ol {
    border: 0.1em solid white;
    border-radius: var(--image-radius-corner);
    border-top: none;
}

aside section {
    margin-bottom: 2em;
    clear: both;
}

aside li {
    font-weight: bold;
}

aside figure {
    margin: 1em;
}

aside figure img{
    width: 30%;
    border-radius: 1em;
    vertical-align: middle;
    box-shadow: var(--box-shadow-light);
}
aside figcaption {
    display: inline;
}

