@media screen and (max-width:600px) {
    #header-titling {
        position: relative;
    }
    #header-titling p {
        display: none;
    }
    #header-titling h1 {
        position: absolute;
        height:100%;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    #animal-description{
        flex-direction: column-reverse;
    }

    #animal-description 
    ul .article{
        padding: 1.5em;
    }
}

