:root{
    --header-height:150px;
    --color1: rgb(34, 0, 88);
    --color2: rgb(0, 85, 50);
    --color3: rgb(255,255,255);
    --color4: rgb(200,200,200);
    --width-perc-global: 70vw;
    --width-perc-main: 70%;
}

html {
    background-image: url("../images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    max-width: var(--width-perc-global);
    margin: auto;
}

main {
    max-width: var(--width-perc-main);
    background-image: url(../images/paper.jpg);
    color: var(--color2);
}
/* ========================= HEADER ========================= */
header {
    background-color: var(--color1);
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0px;
    border-radius: 50px 0px 50px 0px;
    margin-top: 30px;
}

header div {
    display: inline-block;
}

#site-header {
    height:var(--header-height);
    grid-column: 1;
    grid-row: 1;
}

#site-header h1 {
    height:100px;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    /*RENDI TESTO NON VISIBILE A SCHERMO*/
    overflow:hidden;
    text-indent: 100%;
    margin: 5px 5px 0px 15px;
}

#site-header h2 {
    color: var(--color4);
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    font-size: 18px;
    margin: 0px;
}

#header-deco {
    height:var(--header-height);
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0), var(--color1)),
    url('../images/header256.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 50px 0px;
    grid-column: 2;
    grid-row: 1;
}

#breadcrumb {
    background-color: var(--color2);

    position: sticky;
    top: 0px;
}

#identification {
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--color2);
    color: var(--color3);
    width: fit-content;
    margin-top: 10px;
}

/* ========================= MAIN ARTICLE ========================= */

#main-article {
    color:white;
    height: 400px;
    margin: 20px;
    position: relative;
}

.tag {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#main-article img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

#main-article button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 8px black;
    font-size: 30px;
    width: 50px;
    height: 50px;
}

#main-article-text {
    position: absolute;
    bottom:0%;
    text-shadow: 2px 2px 2px black;
    margin: 10px;
}

#main-article-title {
    font-size: 2em;
    margin-bottom: 5px;
}
#main-article-subtitle {
    font-size: 1.2em;
}
#button-prev {
    left: 10px;
    background-image: url(../images/icons/button-l.png);
}

#button-next {
    right: 10px;
    background-image: url(../images/icons/button-r.png);
}

/* ========================= ARTICLE GRID ========================= */

#article-grid {
    display: grid;
    margin-top: 10px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}

.article{
    border: 5px solid red;
    width: 40%;
}

.article img{
    width:100%;
}

#go-up {
    display: block;
    margin: auto;
    cursor: pointer;
}

footer {
    background-color: var(--color2);
}