@media only screen and (max-width:900px), (orientation:portrait){
    #main-aside-wrapper {
        flex-direction: column;
    }

    aside a {
        text-align: center;
    }

    #link-list {
        float: none;
    }

    aside ul {
        text-align: center;
        list-style-type: none;
        padding-left: 0;
    }
    
    aside figure img {
        height: 100%;
    }
    #article-grid-div {
        display:block;
    }
    
}

@media only screen and (min-width:901px) and (orientation:landscape) {

    #link-list {
        float: right;
    }

    aside ul {
        text-align: initial;
        list-style-type: square;
        padding-left: 1em;
    }
}