@media screen and (max-width:600px) {
    #header-titling {
        position: relative;
    }
    #header-titling p {
        display: none;
    }
    #header-titling h1 {
        position: absolute;
        height:100%;
        width: 100%;
    }
}
    

@media screen and (max-width:768px) {
    #animal-description{
        flex-direction: column-reverse;
    }

    #animal-description 
    ul .article{
        padding: 1.5em;
    }
    #non-exist-btn{
        padding: 5em;
    }
    #exist-btn{
        padding: 5em;
    }
}

@media screen and (max-width:768px) {
    #animal-description{
        flex-direction: column-reverse;
    }

    #animal-description 
    ul .article{
        padding: 1.5em;
    }
    #non-exist-btn{
        padding: 6em;
        display: block;
        border-radius: 50%;
        border: darkred 10px solid;
    }
    #exist-btn{
        padding: 6em;
        display: block;
        border-radius: 50%;
        border: darkgreen 10px solid;
    }
}
