@media (orientation:portrait){
    html{
        background-image: none;
    }

    #main-aside-wrapper {
        flex-direction: column;
    }

    body {
        max-width: 100%;
        box-shadow: none;
    }

    #identification {
        margin: initial;
        border: none;
        box-shadow: none;
        border-radius: 0 2em 0 0;
    }

    header {
        margin: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }

    header, main {
        position: static;
    }

    #header-deco {
        border-radius: 0;
    }

    #header-titling {
        padding: 1em;
        padding-left: 0.8em;
    }
    #header-titling p {
        display: none;
    }
    #header-titling h1 {
        height:100%;
        width: 100%;
        background-position: center;
    }

    #breadcrumb {
        display: none;
    }
    
    .corner-tag {
        display: none;
    }

}